/* Increase the default font size */
html {
    font-size: 14pt;
}

/* Main menu header logo sizing */
.main-menu img.logo {
    height: 4rem !important;
    width: auto;
    max-height: none !important;
    max-width: none !important;
    object-fit: contain !important;
}

/* Center align menu items with logo */
.main-menu {
    align-items: flex-end !important;
}

.main-menu>div {
    align-items: flex-end !important;
}

/* Remove borders between lines in GitHub Gist embeds */
.prose .gist,
.gist {
    --tw-prose-td-borders: transparent !important;
}

.prose :where(.gist table):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(.gist tbody td):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose :where(.gist table tr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border: none !important;
}

/* Custom inline code color - Light mode only background */
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):not(pre code) {
    color: #F15A24 !important;
    background-color: #dadada !important;
}

.dark .prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):not(pre code) {
    color: #F15A24 !important;
    background-color: #17181C !important;
}

/* Table of contents active indicator */
#TableOfContents a.active {
    text-decoration-color: #F15A24 !important;
}

.dark #TableOfContents a.active {
    text-decoration-color: #F15A24 !important;
}